DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=shoppers_db

MLFLOW_TRACKING_URI=./mlruns
MODEL_PATH=./ml/model.pkl



PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=
PG_NAME=shoppers_warehouse